.header {
  width: 100%;
  background: transparent;
  position: relative;
  z-index: 10;
}

.headerHome {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1;

  color: #262626;
}

.heart {
  fill: #f6b83d;
}


.home .logo {
  color: #ffffff;
}

.home .heart {
  fill: #ffffff;
}


.nav {
  display: none;
}


.actions {
  display: none;
}

.burger {
  background: none;
  border: none;
  padding: 0;
}

.burger svg {
  width: 32px;
  height: 32px;
  stroke: #262626;
}

.home .burger svg {
  stroke: #ffffff;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 12px;
}

.logout {
  display: none;
}

.userBar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #fff4df;

  display: flex;
  align-items: center;
  justify-content: center;
}

.userIcon {
  fill: #f6b83d;
}

.name {
  display: none;
}


@media (min-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 34px 20px 26px;
  }

  .actions {
    margin-left: auto;
    margin-right: 16px;
    display: flex;
    gap: 8px;
  }

  .login {
    height: 50px;
    padding: 15px 35px;

    border-radius: 30px;
    background-color: #f6b83d;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    color: #ffffff;
  }

  .home .login {
    background: transparent;
    border: 1px solid #ffffff;
  }

  .register {
    height: 50px;
    padding: 15px 20px;

    border-radius: 30px;
    background-color: #fff4df;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    color: #f6b83d;
  }

 .user {
   margin-right: 16px;
 }
 
  .logout {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    padding: 0 35px;

    border-radius: 30px;
    border: none;

    background-color: #f6b83d;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    color: #ffffff;
  }
}

.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color:  #262626;
}

.home .name {
  color: #ffffff;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 43px 64px;
  }

  .nav {
    margin-left: 313px;
    margin-right: auto;
    display: flex;
    gap: 10px;
  }

  .navLink {
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;

    padding: 15px 20px;
    height: 50px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;

    color: #262626;
  }

  .list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
 }

  .home .navLink {
    border-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
  }

  .active {
    border-color: #f6b83d;
  }

  .actions,
  .user {
    display: flex;
    align-items: center;
  }

  .burger {
    display: none;
  }
}