.wrapper {
  position: relative;
  width: 335px;
  padding: 40px 28px;
  background-color: #ffffff;
  border-radius: 30px;
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;

  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.imageWrapper img {
  border-radius: 100%;
  background-color: #fff4df;
}

.title {
  margin: 16px 0 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #262626;
}

.actions {
  display: flex;
  gap: 8px;
}

.yesBtn {
  flex: 1;
  height: 42px;
  border-radius: 30px;
  padding: 12px 57px;
  width: 137px;
  border: none;

  background-color: #f6b83d;
  color: #ffffff;

  cursor: pointer;
  transition: background-color 250ms ease;
}

.yesBtn:hover {
  background-color: #f9b020;
}

.cancelBtn {
  flex: 1;
  border-radius: 30px;
  padding: 12px 44px;
  width: 134px;
  height: 42px;
  border: none;

  background-color: rgba(38, 38, 38, 0.05);
  color: #262626;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  
  cursor: pointer;
  transition: background-color 250ms ease;
}

.cancelBtn:hover {
  background-color: #e8e8e8;
}