.card {
  display: flex;
  flex-direction: column;
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 240px;
  margin-bottom: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}
/* 
.image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
} */

.title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 12px;
  color: #999;
}

.link {
  color: #f6b83d;
  font-weight: 500;
  text-decoration: none;
}