:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* ----------------------- */
.not-found {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #f6b83d;
  border-radius: 16px;
  padding: 64px;
  text-align: center;
  max-width: 1280px;
  width: 100%;
}

.code {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-weight: 800;
  font-size: 300px;
  line-height: 1;
  color: #fff;
  margin-bottom: 40px;
}

.text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  color: #fff;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
 
  padding: 12px 32px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px);
}
/* --------------------------- */
