.menu {
  position: absolute;
  top: 0;
  right: 0;

  width: 344px;       
  height: 100vh;

  padding-top: 64px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  overflow-y: auto;
}

.menuYellow {
  background-color: #f6b83d;
}

.menuYellow .link,
.menuYellow .login {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.4);
}

.menuYellow .active {
  border-color: #ffffff;
}

.menuYellow .close svg {
  stroke: #ffffff;
}

.menuWhite {
  background-color: #ffffff;
}

.menuWhite .link {
  color: #262626;
  border-color: rgba(38, 38, 38, 0.15);
}

.menuWhite .active {
  border-color: #f6b83d;
}

.menuWhite .close svg {
  stroke: #262626;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;

  background: transparent;
  border: none;
  cursor: pointer;
    
}

.nav {
  margin-top: 40px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  padding: 10px 24px;
  border-radius: 30px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #262626;
  text-align: center;
}

.active {
  border-color: #f6b83d;
}

.actions {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

 .login {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    padding: 15px 35px;

    border-radius: 30px;
    background-color: #f6b83d;
    border: 1px solid transparent;
    
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    color: #ffffff;
  }

 .register {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    padding: 15px 20px;

    border-radius: 30px;
    background-color: #fff4df;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    color: #f6b83d;
  }


@media (min-width: 768px) {
  .hero {
    padding: 60px 32px;
  }

  .title {
    font-size: 36px;
    max-width: 260px;
  }

  .list {
    gap: 16px;
  }

  .link {
    font-size: 18px;
    padding: 14px 32px;
  }

  .actions {
    flex-direction: row;
    justify-content: center;
  }

  .login,
  .register {
    height: 50px;
    font-size: 16px;
  }
}


