 .menu {
  position: fixed; 
  top: 0;
  right: 0;
  height: 100vh;

  width: 218px;       
  height: 100vh;
  padding: 236px 50px 40px;

  display: flex;
  flex-direction: column;
  
  overflow: hidden;
  will-change: transform;
}

.menuYellow {
  background-color: #f6b83d;
}

.menuYellow .link,
.menuYellow .login,
.menuYellow .logout {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.4);
}

.menuYellow .active {
  border-color: #ffffff;
}

.menuYellow .close svg {
  stroke: #ffffff;
}

.menuWhite {
  background-color: #ffffff;
}

.menuWhite .link,
.menuWhite .login,
.menuWhite .logout {
  color: #262626;
  border-color: rgba(38, 38, 38, 0.15);
}

.menuWhite .active {
  border-color: #f6b83d;
}

.menuWhite .close svg {
  stroke: #262626;
}

.close {
  position: absolute;
  top: 28px;
  right: 20px;

  background: transparent;
  border: none;
  cursor: pointer;
    
}

.nav {
  margin-bottom: 180px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border-radius: 30px;
  padding: 15px 20px;
  min-width: 119px;
  height: 48px;
  border: 1px solid rgba(38, 38, 38, 0.15);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #262626;
  text-align: center;

  transition: transform 0.3s ease; 
}

.link:hover {
  transform: scale(1.03);
}

.active {
  border-color: #f6b83d;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

 .login {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;
    padding: 12px 60px;
    width: 178px;
    height: 42px;
    background-color: #f6b83d;
    border: 1px solid transparent;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;

    color: #ffffff;

   transition:  background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;  
  }

  .login:hover {
     transform: scale(1.03);
   
  }

  .menuYellow .login:hover {
    background-color: #fff4df;
    color: #f6b83d;
  }

  .menuWhite .login:hover {
    background-color: #f9b020;
  }

 .register,
 .logout {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;
    padding: 12px 41px;
    min-width: 178px;
    height: 42px;
    background-color:  #fff4df;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;

    color: #f6b83d;

    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .register:hover,
  .logout:hover {
    background-color: #fbe7c1;
    transform: scale(1.03);
  }

@media (min-width: 768px){
  .menu {
    width: 374px; 
    padding: 236px 30px 40px;
  }

  .nav {
  margin-bottom: 280px;
}

  .list {
    gap: 10px;
  }

  .link {
    font-size: 16px;
    padding: 14px 20px;
  }

  .actions {
    flex-direction: row;
    justify-content: center;
    gap: 8px;
  }

  .login {
    padding: 15px 35px;
    width: 120x;
    font-size: 16px;
  }


  .register {
    padding: 15px 20px;
    width: 149px;
    padding: 15px 10px;
    font-size: 16px;
  }
}

