.loader {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background-image: url('/images/loader-bg-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-resolution: 2dppx) {
  .loader {
    background-image: url('/images/loader-bg-mobile@2x.jpg');
  }
}

.loader::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circleWrapper {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleSvg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

.circleMobile {
  display: block;
}

.circleTablet {
  display: none;
}

.circleBackground {
  fill: none;
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 8;
}

.circleProgress {
  fill: none;
  stroke: #f6b83d;
  stroke-width: 8;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.2s linear;
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #fff;
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
}

.heart {
  fill: #f6b83d;
  width: 28px;
  height: 28px;
}


@media (min-width: 768px) {
  .loader {
    background-image: url('/images/loader-bg-tablet.jpg');
  }
  
  .circleWrapper {
    width: 427px;
    height: 427px;
  }

  .circleMobile {
    display: none;
  }

  .circleTablet {
    display: block;
  }

  .circleBackground,
  .circleProgress {
    stroke-width: 16;
  }

  .percent {
    font-size: 80px;
  }

  .logo {
    font-size: 80px;
  }

  .heart {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 768px) and (min-resolution: 2dppx) {
  .loader {
    background-image: url('/images/loader-bg-tablet@2x.jpg');
  }
}


@media (min-width: 1280px) {
  .loader {
    background-image: url('/images/loader-bg-desktop.jpg');
  }

  .logo {
    font-size: 100px;
  }

  .heart {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1280px) and (min-resolution: 2dppx) {
  .loader {
    background-image: url('/images/loader-bg-desktop@2x.jpg');
  }
}