.form {
  position: relative;
  margin-bottom: 32px;
}

.input {
  width: 100%;
  height: 44px;
  padding: 0 80px 0 16px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  font-size: 14px;
}

.searchBtn {
  position: absolute;
  right: 44px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.clearBtn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}